/*reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22),
    1px 0px 0px 0px rgba(0, 0, 0, 0.22), 1px 2px 0px 0px rgba(0, 0, 0, 0.22),
    2px 1px 0px 0px rgba(0, 0, 0, 0.22), 2px 3px 0px 0px rgba(0, 0, 0, 0.22),
    3px 2px 0px 0px rgba(0, 0, 0, 0.22), 3px 4px 0px 0px rgba(0, 0, 0, 0.22),
    4px 3px 0px 0px rgba(0, 0, 0, 0.22), 4px 5px 0px 0px rgba(0, 0, 0, 0.22),
    5px 4px 0px 0px rgba(0, 0, 0, 0.22), 5px 6px 0px 0px rgba(0, 0, 0, 0.22),
    6px 5px 0px 0px rgba(0, 0, 0, 0.22), 6px 7px 0px 0px rgba(0, 0, 0, 0.22),
    7px 6px 0px 0px rgba(0, 0, 0, 0.22), 7px 8px 0px 0px rgba(0, 0, 0, 0.22),
    8px 7px 0px 0px rgba(0, 0, 0, 0.22);
}

/*GENERAL STYLES */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
h1 {
  color: black;
  background-color: #808080;
  text-align: center;
  font-size: 2.2rem;
}

/*BOOK SECTION STYLES */
.book-section {
  border-bottom: 18px solid blue;
  background-color: rgb(94, 63, 63);
  width: clamp(
    300px,
    90%,
    1800px
  ); /*i'll have auto-fit set on the div child this section can get pretty small because of min value */

  margin: 0.5% auto 0.5% auto; /*create some space between the book section the h1 and the footer  */

  flex-grow: 1;

  font-size: 1.68rem;
}

.book-section h3 {
  /*only section title should be centered */

  /*update removed:clamp function on height and font-size, wasn't doing anything  */
  height: 4.5%;
  font-size: 1.5rem;
  text-align: center;
}

.book-section > button {
  /*only add new book button will receive these styles as it is a direct children */
  width: 180px;
  background-color: rgb(187, 187, 221);
  padding: 8px 12px;
  border: 2px solid firebrick;
  border-radius: 8px;
  /*center button */
  display: block;
  margin: 10px auto 10px auto;
}

.book-section > button:hover,
button:focus {
  /*only add new book button will receive these styles as it is a direct children */
  background-color: rgba(187, 187, 221, 0.859);
  border: none;
  box-shadow: 0px 9px 30px rgba(10, 20, 3, 0.3);
  font-size: 1rem;
}

/*FORM STYLES */
.my-form {
  /*clamp func works nicely on resize, stops form from going below 400px and fills container nicely*/
  width: clamp(400px, 30%, 1000px);
  height: 250px;
  margin: 0 auto 0 auto;
  padding: 20px 0 0 5px;
  background-color: rgb(187, 187, 221);
  opacity: 0.65;
  font-size: 1rem;

  /*make form a flex container so i can align the div wrapper on the main axis(vertical) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-form > div {
  /*select all the wrapper divs inside myForm*/

  display: flex;
  justify-content: space-between;
}

.my-form input,
.my-form label {
  /*select the inputs and labels */
  background-color: rgb(187, 187, 221);
  padding: 4px 0 3px 0;
  margin-bottom: 10px;
}
.my-form input {
  /*control width of inputs only and put space to the right */
  width: 80%;
  margin-right: 10px;
}

.my-form .form-btn-wrapper {
  /*select div that wraps both submit and reset button */

  display: flex;
  justify-content: space-evenly;
}

.my-form .btn-submit,
.my-form .btn-reset {
  /*selects the buttons inside form */
  font-weight: 900;
  width: 180px;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #5e3f3f;
}
.my-form .btn-submit {
  color: #06fc06;
}
.my-form .btn-reset {
  color: #f40101;
}

.my-form .btn-submit:hover,
.my-form .btn-submit:focus {
  opacity: 0.85;
  box-shadow: 0px 9px 30px rgba(5, 255, 51, 0.9);
}
.my-form .btn-reset:hover,
.my-form .btn-reset:focus {
  box-shadow: 0px 9px 30px rgba(255, 5, 34, 0.9);
}

/*BOOK CONTAINER AND BOOK CARD STYLES */
.books-container {
  /*this will be a grid and the amount of col will change based on space available */
  background-color: rgb(187, 187, 221);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.book-card {
  /*this class will be created via javascript later on keep those styles for now */
  border: 2px solid firebrick;
  line-height: 2.5rem;
  font-size: 1.3rem;
  height: 350px; /*add a height value to each books so the books-container div fills up the book-section */
  padding: 0 2%;

  /*make the book-card a flex container so I can align button and text easily */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-toggle-read {
  /*target the button that toggle the read status */
  background-color: rgb(175, 168, 168);
  padding: 12px 8px;
  width: 50%;
  margin: 0 auto;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: bold;
}

.book-card button:hover,
.book-card button:focus {
  /*applies box shadow to all buttons inside of book-card div */
  box-shadow: var(--main-box-shadow);
}

.btn-remove-book {
  /*style the button inside of book card*/
  background-color: firebrick;
  padding: 8px 10px;
  margin-bottom: 0.5rem;
  width: 99%;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: 700;
}

/*FOOTER styles */
footer {
  background-color: #9a9595;
  font-size: 1.15rem;
  text-align: center;
}
